/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Fugaz One', cursive;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
p {
  font-size: 2.2rem;
  font-family: 'Patrick Hand SC';
}
.info-container {
  margin: 0 auto;
}
.menu {
  background: #000E48;
  display: none;
}
@media (min-width: 800px) {
  .menu {
    display: block;
    padding-bottom: 1.5%;
  }
}
.menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  color: white;
}
@media (min-width: 800px) {
  .menu nav {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .menu nav {
    margin-top: 1%;
  }
}
@media (min-width: 800px) {
  .menu nav .hamburger {
    display: none;
  }
}
.menu nav a {
  margin-bottom: 1%;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Patrick Hand SC';
  color: white;
}
.menu nav a:hover {
  color: #ED3D67;
}
.menu nav h4 {
  font-size: 2.5rem;
  margin-right: 10%;
}
@media (min-width: 1000px) {
  .menu nav h4 {
    display: none;
  }
}
.menu-open {
  display: block;
}
.hamburger {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.carousel {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  height: 30%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .carousel {
    width: 70%;
    margin: 2% auto;
  }
}
.carousel .left-button,
.carousel .right-button {
  color: #ED3D67;
  font-size: 6.5rem;
  border-radius: 20%;
  position: absolute;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #000E48;
}
.carousel .left-button {
  top: 50%;
  left: 35px;
  transform: translate(0, -55%);
}
@media (min-width: 800px) {
  .carousel .left-button {
    left: 30px;
  }
}
.carousel .right-button {
  top: 50%;
  right: 35px;
  transform: translate(0, -50%);
}
@media (min-width: 800px) {
  .carousel .right-button {
    right: 30px;
  }
}
.carousel img {
  width: 85%;
  border-radius: 20px;
  display: none;
}
.info-container {
  display: flex;
  flex-flow: column wrap;
}
.info-container .header {
  background: #000E48;
  padding: 1.5%;
  color: white;
}
.info-container .header h4 {
  font-size: 3rem;
  text-align: center;
}
@media (min-width: 800px) {
  .info-container .header {
    display: none;
  }
}
.info-container .top-contentBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-container .top-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(150deg, #000E48, #4B3690 50%, #ED3D67);
  opacity: 0.7;
  height: 100%;
}
@media (min-width: 1000px) {
  .info-container .top-content {
    height: 100%;
  }
}
.info-container .top-content h1 {
  color: white;
  font-size: 4rem;
}
@media (min-width: 1000px) {
  .info-container .top-content h1 {
    font-size: 5rem;
    letter-spacing: 8px;
  }
}
.info-container .top-content button {
  padding: 2px 30px;
  border-radius: 15px;
  font-size: 2.5rem;
  margin-top: 10%;
  border-color: #9CE5F0;
  width: 60%;
  font-family: 'Patrick Hand SC';
}
.info-container .main-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .info-container .main-content {
    flex-direction: row;
  }
}
.info-container .left-content {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 5%;
  padding-top: 2%;
}
.info-container .left-content img {
  display: none;
  width: 85%;
  height: 50%;
  border-radius: 5px;
}
@media (min-width: 800px) {
  .info-container .left-content img {
    display: block;
    margin-bottom: 10% 2%;
  }
}
@media (min-width: 1000px) {
  .info-container .left-content img {
    width: 100%;
    height: 50%;
  }
}
.info-container .left-content h2 {
  text-align: center;
  padding: 3%;
}
.info-container .left-content button {
  margin: 4% 25%;
  padding: 1.5%;
  border-radius: 15px;
  border-color: #ED3D67;
  font-family: 'Patrick Hand SC';
}
.info-container .right-content {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 5%;
  padding-top: 2%;
}
.info-container img {
  display: none;
  width: 85%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
}
@media (min-width: 800px) {
  .info-container img {
    display: block;
  }
}
@media (min-width: 1000px) {
  .info-container img {
    width: 100%;
    height: 50%;
  }
}
.info-container h2 {
  text-align: center;
  padding: 3%;
}
.info-container button {
  margin: 4% 25%;
  padding: 1.5%;
  border-radius: 15px;
  border-color: #4B3690;
  font-family: 'Patrick Hand SC';
  font-size: 2rem;
}
.download-now {
  text-align: center;
  margin-top: 10%;
}
@media (min-width: 800px) {
  .download-now {
    display: none;
  }
}
