//marketingPage
.top-content{
    display:  flex;
    justify-content: space-evenly;
    padding: 3% 0;
    h1{
        color: aqua;
        font-size: 5rem;
    }
}

.info-container{
    .left-content{
        padding: 3% 0;
    }
}